.service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 25px auto;
  text-align: center;
  overflow: hidden;
}
.service-info h2 {
  font-size: 2.5rem;
  text-shadow: -2px 3px 0px black;
  margin: 0;
}
.service-info {
  margin: 5px auto;
  text-align: center;
  text-shadow: 2px 3px 0px black;
}
.service-info h3 {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
}
.service-info p {
  font-size: 1rem;
  margin: 5px;
}
.frontend {
  align-items: center;
  margin: 5px auto;
  max-width: 360px;
  max-height: 320px;
}
@media (min-width: 768px) {
  .service-container {
    flex-direction: row;
    gap: 20px;
    margin: 60px auto;
    width: 100%;
    text-align: left;
  }
  .service-info {
    margin: 0 40px;
    text-align: left;
  }
  .service-info h2 {
    margin-bottom: 15px;
  }
  .service-info h3 {
    margin-top: 25px;
  }
  .frontend {
    margin-top: 75px;
    margin-right: 20px;
  }
}
@media (min-width: 1000px) {
  .service-container {
    flex-direction: row;
    overflow: hidden;
    margin: 50px 70px;
    width: fit-content;
    gap: 30px;
  }
  .service-info {
    margin: 0;
    margin-left: 60px;
    text-align: left;
  }
  .service-info h2 {
    margin-bottom: 15px;
  }
  .service-info h3 {
    margin-top: 25px;
  }
  .frontend {
    margin-top: 75px;
    margin-right: 100px;
  }
}
